@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@300;400;500;600&display=swap");

/* Selection */
pre code ::-moz-selection {
  text-shadow: none;
  background-color: rgba(var(--tblr-white-rgb), 0.1);
}
pre code ::selection {
  text-shadow: none;
  background-color: rgba(var(--tblr-white-rgb), 0.1);
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  /* font-size: 1rem; */
}

.navbar .container {
  padding-top: 8px;
  padding-bottom: 9px;
}

.navbar-brand a .avatar + .d-block > .fs-3 {
  line-height: 1.375rem;
}

.navbar-brand a .avatar + .d-block > .fs-4 {
  margin-top: 2px;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: "IBM Plex Mono", monospace;
  white-space: pre-wrap !important;
}

pre[class*="language-"] {
  border-radius: var(--tblr-border-radius);
}

div.code-toolbar > .toolbar {
  right: 0.35em;
}

div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
  padding: 0.3em 0.8em 0.5em;
  border-radius: 0.2em;
}

div.code-toolbar > .toolbar > .toolbar-item > a:focus,
div.code-toolbar > .toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar > .toolbar-item > button:focus,
div.code-toolbar > .toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar > .toolbar-item > span:focus,
div.code-toolbar > .toolbar > .toolbar-item > span:hover {
  color: #fff;
}

.token.constant,
.token.deleted,
.token.property,
.token.symbol,
.token.tag {
  --tblr-tag-height: initial;
  border: initial;
  display: initial;
  align-items: initial;
  height: initial;
  border-radius: initial;
  padding: initial;
  background: initial;
  box-shadow: initial;
  gap: initial;
}

.token a.token.url-link[href] {
  color: var(--tblr-info);
}

.token a.token.url-link[href]:hover {
  color: var(--tblr-vimeo);
}

.footer .img-netlify {
  height: 40px;
}

.footer svg {
  margin-bottom: 2px;
  fill: var(--tblr-red);
}
